.motherdiv{
    background-color: black;
    text-align: center;
}
.test1{
    background-color: #0a1771;
    color: aliceblue;
}
.test2{
    background-color:green ;
}
.test3{
    background-color:#834646 ;
    text-align: center;
}
.text4{
    background-color: #eeeeee;
    text-align: center;
}
.test5{
    background-color: green;
    text-align: center;
}
.test6{

    text-align: center;
    

}
.test7{
    background-color:#0d6efd ;
    text-align: center;
}
.test8{
    text-align: center;
}
.test9{
    background-color:#4f84c4 ;
    text-align: center;
}
.test10{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -17px;
}



